.container {
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.scores-list {
  padding: 0;
  list-style: none;
  flex: 1;
  border: 2px solid #000;
  border-radius: 2px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container * {
  margin-top: 1em;
}

.header {
  text-align: center;
}

.score-container {
  flex: 1;
  margin-right: 2em;
}

.score-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scores-list li {
  padding: 0.5em 0.8em;
}

.scores-list li:nth-child(even) {
  background-color: #ddd;
}

button {
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
}

#submit {
  margin-left: auto;
  width: fit-content;
}
