.container {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.scores-list {
  padding: 0;
  list-style: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  text-align: center;
}